
.header{
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    background-color: aquamarine;
}

.header-links-container{
    display: flex;
}

.header-link{
    margin-left: 12px;
    margin-right: 12px;
}

.top-section{
    display: flex;
    background-color: blue;
}

.top-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto; 
}

.hero-copy-container{
    display: flex;
    flex-direction: column;
}

.hero-container{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}